<div class="container mt-5">
    <form action="">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" placeholder="Agregue el nombre">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" placeholder="Agregue el apellido">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" placeholder="Ej: mastergym@gmail.com">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Cedula</label>
                    <input type="text" class="form-control" placeholder="Agregue una cedula">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" class="form-control" placeholder="Agregue una fecha de nacimiento">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Numero de telefono</label>
                    <input type="tel" class="form-control" placeholder="Agregue un numero de telefono">
                </div>
            </div>
            <div class="col-sm-12 mt-3">
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="file" class="form-control-file" placeholder="Agregue su imagen">
                </div>
            </div>
            <button class="btn btn-primary mt-5">Agregar</button>
        </div>
    </form>
</div>
